<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900440235878-8g9gnge81up2mbk6dfpllq3e7g1v2cfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900440235878-8g9gnge81up2mbk6dfpllq3e7g1v2cfd</string>
	<key>API_KEY</key>
	<string>AIzaSyBBJKL5DBPkzY_43xrYb6ewWDzsSGS18Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>900440235878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tangle</string>
	<key>PROJECT_ID</key>
	<string>flutter-tangle</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tangle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900440235878:ios:e880d8db96e7b760a0b2a7</string>
</dict>
</plist>